<header>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <img class="headerImage" src="/image/1.jpg" alt="SUshant">
  <h4> Intugine Home Brands Transportes</h4>


  <a href="/">DEL </a>
  <a href="/int">INT</a>
  <a href="/ood">ODD</a>
  <a href="/dex">DEX</a>
  <a href="/nfi">NFI</a>
  <div class="w3-container w3-center"></div>
  <div class="w3-bar">
    
  </div>
  </div>
</header>

</header>